@page
@using AudiocraticAPI.Models
@model AudiocraticAPI.Pages.StraightForward.HubSpotToConstantContact.Logs.IndexModel
<style scoped>
    table.table td.contacts {
        padding-left: 64px;
    }
</style>
<div class="spacer-md"></div>
<form method="post">
@foreach(DealStageChange change in @Model.DealStageChanges)
{
    <table class="table">    
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Sync Datetime</th>
                <th>Deal Name</th>
            </tr>
        </thead>
        
        <tr>
            <td>
                <button 
                    class="btn btn-sm btn-success"
                    asp-page-handler="ReSync"
                    asp-route-dealid=@change.Deal.HubSpotID>
                    <span class="fa fa-repeat"></span>&nbsp&nbspRe-sync
                </button>
            </td>
            <td>@change.ChangeDateTime.ToString()</td>
            <td>@change.Deal.Name</td>
            <tr>
                <td class="contacts" colspan="3">
                    <table class="table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Type</th>
                                <th># E-mails</th>
                                <th># of Lists</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(Contact contact in @change.Deal.Contacts)
                        {
                            string rowClass = contact.ContactLists.Count > 0 ? "success" : "warning";
                            
                            <tr class="table-@rowClass" >
                                <td>
                                    @(contact.FirstName)
                                </td>
                                <td>
                                    @(contact.LastName)
                                </td>
                                <td>
                                    @(contact.Type)
                                </td>
                                
                                @{
                                    string emailAddressesHtml = 
                                        String.Join("<br>",
                                            contact.EmailAddresses
                                                .Select(a => a.Address).ToList()
                                            );
                                }
                                
                                <td
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="left"
                                    data-title="E-mail Addresses"
                                    data-html="true"
                                    data-content=@emailAddressesHtml>    
                                        @(contact.EmailAddresses.Count)
                                </td>
                                @{
                                    string contactListsHtml = 
                                        String.Join("<br>",
                                            contact.ContactLists
                                                .Select(l => l.ListName).ToList()
                                            );
                                }                           
                                
                                <td
                                    data-toggle="popover"
                                    data-title="Added to Lists"
                                    data-placement="left"
                                    data-trigger="hover"
                                    data-html="true"
                                    data-content='@Html.Raw(contactListsHtml)'>
                                        @(contact.ContactLists.Count)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tr>
    </table>
    }
</form>
@if(Model.PageNumber > 1)
{   
    <a
        class="btn btn-sm btn-secondary"
        asp-page="Index"
        asp-route-pagenumber=@(Model.PageNumber - 1)>Previous</a>
}
@if(Model.TotalItems > 0)
{
    int lastItemOnPage = 
        Model.PageNumber == Model.TotalPages ? 
            Model.TotalItems : Model.PageNumber * Model.ItemsPerPage;

    <text>
        Displaying items @((Model.PageNumber - 1) * 10 + 1) - @lastItemOnPage
    </text>
}
@if(Model.PageNumber < Model.TotalPages)
{
    <a
        class="btn btn-sm btn-secondary"
        asp-page="Index"
        asp-route-pagenumber=@(Model.PageNumber + 1)>Next</a>
}

@section Scripts
{
    <script>
        $(function(){
            $("[data-toggle='popover']").popover();
        });
        
    </script>
}


